h2 a {
  color:#0e0;
}

.author { padding-left: 0.5em; font-size: 90%; font-weight: normal }
.xrefs { padding-left: 1em; font-size: 80%; font-weight: normal }

#catalog h3 {
  padding: 0 1em;
  margin: 4ex 0 0;
}

#catalog h4 {
  padding: 0 1em;
  margin: 2ex 0 0;
}

#catalog p {
  margin: 1ex 0;
  padding-left: 3em;
}

#catalog pre {
  margin: 0.25ex 0 0.25ex 3em;
  padding: 0;
  background-color: #ddd;
  color: #000;
}

#catalog { padding-bottom: 2ex }
